body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #fff;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    height: 100vh;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
    display: flex;
}

h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
    font-size: 5em;
}

h2 {
    text-align: center;
    font-size: large;
}

.h3new {
    text-align: center;
    font-size: medium;
}

h4 {
    text-align: center;
    font-size: large;
    color: red;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
}

#weather {
    border: medium;
    border-color: black;
    border-radius: 2%;
    border-style: solid;
    background-color: rgb(90, 89, 87);
    padding: 25px;
}

hr {
    border: medium;
    border-color: black;
    border-style: dotted;
}

#current-weather
{
    text-align: center;
}

#search-boxes
{
    text-align: center;
}

.center {
    margin: auto;
    max-width: 800px;
    height: auto;
}

.content-center {
    align-content: center;
}

.five-day-iconAndText{
    width: 20%;
    float: left;
    object-fit: cover;
    display:flex;
    flex-direction:column;
}

.five-day-iconAndText img {
    max-width:100%;
    height:auto
}

.five-day-iconAndText p {
    max-width:100%;
    height:auto;
    text-align: center;
    font-size: medium;
    font-weight: 400;
}

#extended-container{
    display: table;
    clear: both;
}

.centerImg{
    text-align: center;
}

.button {
    background-color: #99bbcb;
    border: solid;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2%;
}

.search {
    margin:10px;
    min-height:18px;
    min-width:200px;
    max-width:250px;
    border-radius:10px;
    border:1px solid black;
    padding:7px;
}


.visibility{
    display: none;
}

.warningVis{
    display: none;
}